.index-wall {
  background-image: url(/img/wall-fisio.jpg);
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 220px 100px;
}

@media (max-width: 992px) {
  .index-wall {
    padding: 160px 60px;
  }
}

@media (max-width: 768px) {
  .index-wall {
    padding: 120px 40px;
  }
}

@media (max-width: 576px) {
  .index-wall {
    padding: 100px 20px;
  }
}

@media (max-width: 400px) {
  .index-wall {
    padding: 80px 15px;
  }
}
